.productCard {
	width: 200px;
	background: #fff8e8;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	margin: 10px;
	font-family: "Open Sans", sans-serif;
	cursor: pointer;
	transition: 0.2s;
	border-radius: 15px;
	gap: 5px;
}

.productCard:hover {
	box-shadow: -4px 3px 51px 0px rgba(0, 0, 0, 0.75);
}

.productCard img {
	width: 150px;
	height: 180px;
}
