.cartPopOut {
	position: absolute;
	width: 800px;
	height: 400px;
	background: #674636;
	border-radius: 20px;
	padding: 15px;
	overflow-y: scroll;
	font-family: "Open Sans", sans-serif;
	color: aliceblue;
}

.bgPopOut {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgb(30, 32, 30, 0.8);
}

div::-webkit-scrollbar {
	width: 4px;
}

div::-webkit-scrollbar-thumb {
	background-color: black;
	border-radius: 9em;
}

.cartListElem {
	display: flex;
	margin-bottom: 10px;
	gap: 20px;
	border: 2px solid black;
	border-radius: 20px;
	width: 100%;
	padding: 5px;
}

.cartListElem img {
	border-radius: 20px;
}

.cartListElemText {
	flex-basis: 80%;
	align-self: center;
	display: flex;
	justify-content: space-between;
}

.closeSvg {
	transition: 0.2s;
}

.closeSvg:hover {
	transform: rotate(90deg);
}
